
@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-Thin.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedThin.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-Light.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedLight.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-Regular.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-Extended.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-Italic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-Medium.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedMedium.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-Bold.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedBold.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-Heavy.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedHeavy.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurlySlab-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-HeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurlySlab-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurlySlab-ExtendedHeavyItalic.TTF') format('truetype');
}
